h1 {
  color: dodgerblue;
}
p {
  color: dimgrey;
}


@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

span {
  animation: example 2s linear 2s infinite alternate;
}
